version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  cdk:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm i --force
      - run: npm run compilejs
      - run: npm run build
      - run: npm run synth
      - run: npm run deploy
workflows:
  deploy_users_service:
    jobs:
      - cdk
      
