version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  cdk:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm i && npm run build
      - run: npm run deploy
  deploy_to_bucket:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: sudo apt-get install awscli -y
      - run: npm i
      - run: npm run build
      - run: ls && aws s3 sync ./build s3://website-deployment-bucket/
workflows:
  deploy_website:
    jobs:
      - cdk
      
